<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="vip.taogehaotest" android:versionCode="170" android:versionName="1.7.0">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
  <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
  <uses-feature android:name="android.hardware.camera"/>
  <uses-feature android:name="android.hardware.camera.autofocus"/>
  <application android:allowBackup="true" android:allowClearUserData="true" android:icon="@drawable/icon" android:label="@string/app_name" android:largeHeap="true" android:supportsRtl="true">
    <meta-data android:name="DCLOUD_STREAMAPP_CHANNEL" android:value="vip.taogehaotest|__UNI__E9E1B85|0|"/>
    <meta-data android:name="DCLOUD_WRITE_EXTERNAL_STORAGE" android:value="none"/>
    <meta-data android:name="DCLOUD_READ_PHONE_STATE" android:value="none"/>
    <meta-data android:name="dcloud_appkey" android:value="e0c49f2dd2a80a1a25352076078c7e00"/>
    <meta-data android:name="WX_APPID" android:value="wxe4673f48bb76f8c8"/>
    <meta-data android:name="WX_SECRET" android:value="4d40b78dd6e1cc2e2c76515ca18bedb7"/>
    <meta-data android:name="UMENG_APPKEY" android:value="66599998cac2a664de401dba"/>
    <meta-data android:name="UMENG_CHANNEL" android:value="gw"/>
    <meta-data android:name="com.openinstall.APP_KEY" android:value="wjl27t"/>
    <meta-data android:name="com.vivo.push.app_id" android:value="105767679"/>
    <meta-data android:name="com.vivo.push.api_key" android:value="3a43c2d5f817b5a041d0b88a0690977b"/>
    <meta-data android:name="com.hihonor.push.app_id" android:value="104450746"/>
    <provider android:name="io.dcloud.common.util.DCloud_FileProvider" android:authorities="vip.taogehaotest.dc.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/dcloud_file_provider"/>
    </provider>
    <activity android:name="vip.taogehaotest.wxapi.WXEntryActivity" android:label="@string/app_name" android:exported="true" android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="wxe4673f48bb76f8c8"/>
      </intent-filter>
    </activity>
    <activity android:name="io.dcloud.PandoraEntry" android:configChanges="orientation|keyboardHidden|keyboard|navigation" android:label="@string/app_name" android:launchMode="singleTask" android:hardwareAccelerated="true" android:theme="@style/TranslucentTheme" android:screenOrientation="user" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="taogehaotest"/>
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="wjl27t"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:host="io.dcloud.unipush" android:path="/" android:scheme="unipush"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.oppopush"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="io.dcloud.PandoraEntryActivity" android:launchMode="singleTask" android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale|keyboard|smallestScreenSize|screenLayout|screenSize|uiMode" android:hardwareAccelerated="true" android:permission="com.miui.securitycenter.permission.AppPermissionsEditor" android:screenOrientation="user" android:theme="@style/DCloudTheme" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="taogehaotest"/>
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="wjl27t"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:host="io.dcloud.unipush" android:path="/" android:scheme="unipush"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.oppopush"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
  </application>
</manifest>